
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
position:sticky;
top:0;
}

.logo{
font-size:32px;
font-weight:bold;
color:#d4af37;
}

nav a{
color:white;
text-decoration:none;
margin-left:30px;
font-size:18px;
}

nav a:hover{
color:#d4af37;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:60px;
color:#d4af37;
margin-bottom:20px;
}

.hero p{
font-size:24px;
margin-bottom:40px;
}

.button{
background:#d4af37;
color:black;
padding:15px 35px;
text-decoration:none;
font-weight:bold;
border-radius:6px;
}

.button:hover{
background:white;
}

.categories{
padding:80px;
text-align:center;
}

.categories h2{
font-size:40px;
color:#d4af37;
margin-bottom:40px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#222;
padding:40px;
width:220px;
border-radius:12px;
font-size:24px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.featured{
padding:80px;
text-align:center;
}

.featured img{
width:350px;
border-radius:10px;
margin:30px 0;
}

.featured h2{
color:#d4af37;
margin-bottom:20px;
}

.product p{
margin:20px;
}

.why{
padding:80px;
text-align:center;
}

.why h2{
color:#d4af37;
margin-bottom:40px;
}

.why-box{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.why-box div{
background:#222;
padding:25px;
border-radius:10px;
width:220px;
}

footer{
background:black;
text-align:center;
padding:30px;
margin-top:50px;
}
